:host{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    background-color: #1976d2;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    color: aliceblue;
    .header-logo-container{
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 15px;
        a{
            color: aliceblue;
            text-decoration: none;
        }
        a.active{
            color: darkblue;
        }
    }
}