<header>
    <div class="header-logo-container">
        <img src="../../assets/img/bitcoin.png" alt="">
        <h2>Misterbit - Coin</h2>      
    </div>
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        <a routerLink="/contact" routerLinkActive="active" >Contacts</a>
        <a routerLink="/statistics" routerLinkActive="active" >Statistics</a>
        <a routerLink="/about" routerLinkActive="active" >About</a>
    </nav>
</header>
