.contact-details-main-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .contact-details-main-info{
        display: flex;
        flex-direction: column;
        p{
            span{
                font-weight: 800;
            }
        }
        img{
            height: 150px;
            width: 150px;
        }
    }
    .actions-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .button-container{
            display: flex;
            button{
                max-width: 150px;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                img{
                    height: 50px;
                    width: 50px;
                }
            }
            a{
                max-width: 150px;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                img{
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}