.contact-details-main-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .contact-details-main-info{
        display: flex;
        flex-direction: column;
        p{
            span{
                font-weight: 800;
            }
        }
        img{
            height: 150px;
            width: 150px;
        }
    }
    .button-container{
        width: 100%;
        display: flex;
        justify-content: start;
        button{
            max-width: 150px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            img{
                height: 50px;
                width: 50px;
            }
        }
    }
}